<div class='contact-info'>
  <div class='name'>
    <%= @profile.full_name %>
  </div>
  <div class='phone'>
    phone: <%= @profile.full_name %>
  </div>
  <div class='email'>
    email: <%= @profile.full_name %>
  </div>
</div>
