<h2> List of my appointments </h2>

<% schedule = Appointment.where(@user_type_id =>current_user.id) %>
<% if schedule != nil %>
  <ul class='appointments-list'>
    <% schedule.each do |appointment| %>
      <li><a href="/appointments/<%= appointment.id %>">
        <%= appointment.mentor.full_name %>
        <%= appointment.start_time %>
      </a></li>
    <% end %>
  </ul>
<% end %>
