<h2> List of my appointments </h2>

<% schedule = Appointment.where(student_id: current_user.id) %>
<% if schedule != nil %>
  <ul class='appointments-list'>
    <% schedule.each do |appointment| %>
      <% unless appointment.cancelled %>
        <li><a href="/appointments/<%= appointment.id %>">
          <%= appointment.mentor.full_name %>
          <%= appointment.start_time %>
        </a></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
