<h2>Declare an Open Appointment Slot</h2>

<%= form_for :appointments do |f| %>
  Start time: <%= f.datetime_select :start_time%>
  End time: <%= f.datetime_select :end_time%>
  <%= f.submit %>
<% end %>